version: '2'
services:
  node-chrome:
    image: local/node-chrome
    build: ./docker
    container_name: node-chrome
    volumes:
      - .:/usr/src/app
    environment:
      - spring.profiles.active=e2e
    command: sh -c "java -jar api/build/libs/api*.jar & cd ui && npm install && npm run test:ci && /usr/src/app/docker/wait-for-it.sh localhost:8080 -s -t 120 -- npm run e2e:ci"