.repo-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(330px, 1fr));
  grid-gap: 1rem;
  & .icon-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    text-align: center;
  }
  & mat-spinner {
    position: absolute;
    left: 50%;
    top: 50%;
    margin-top: -50px;
    margin-left: -50px;
  }
}
